body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  width: 80%;
  margin: auto;
}
h1 {
  color: #333;
}
p {
  color: #666;
}


ul {
  list-style-type: none;
  padding: 0;
}


li {
  background-color: #fff;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
}
a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
a:hover {
  background-color: #555;
}
form {
  margin-bottom: 20px;
}
input[type="text"] {
  padding: 10px;
  font-size: 16px;
}
button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #555;
}
nav ul {
  display: flex;
}
nav ul li {
  padding: 0;
  background: none;
  border: none;
  margin-right: 1rem;
}
.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}